<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"/>
        <script>var Alert = ReactBootstrap.Alert;</script>
      
        
    </head>

    <body>
        <code>
      
        <div id="mydiv"></div>

        <script type='text/babel'>

            class Contact extends React.Component{

                constructor(props){

                    super(props)
                }
                
                render(){

                    return(

                        <div>
                                
                                <center> <img  src="static\Images\Chillvindinfo.jpg" alt=""  align = "left"  width = "1900" border="0" /></center>
                                <a href="http://127.0.0.1:5000"> <button type="button" class="btn btn-secondary btn-lg btn-block">Bact to Home Page</button> </a>
                        </div>
                    );
                }
            }
            ReactDOM.render(<Contact/>, document.getElementById('ChillContact'))
        
</script>
    
<head>
</code>

    <body>
        <div id="ChillContact"></div>
    </body>


</body>
</html>