<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
      
        
    </head>

    <body>
      
        <div id="mydiv"></div>

        <script type='text/babel'>

            class ChillWind extends React.Component{

                constructor(props){

                    super(props)
                }
                
                render(){

                    return(

                        <div>
                        <div class="btn-group btn-group-justified">
                         
                        <a href="http://chillwindservicevilla.com/contact"> <button type="button" class="btn btn-Default btn-lg btn-block">Chill Wind Attractions</button></a>
                         <a href="http://chillwindservicevilla.com/about" > <button type="button" class="btn btn-Default btn-lg btn-block">About Wayanad</button> </a>
                        </div>

                       <center> <img src="static\Images\MainPageUpdated.jpg" alt=""  align = "left"  width = "1900" border="0" /></center>
                    
                                 
                                                     
                         
                        </div>
                    );
                }
            }
            ReactDOM.render(<ChillWind />, document.getElementById('Chill'))
        
</script>
    
<head>
    <body>
        <div id="Chill"></div>
    </body>


</body>
</html>


